.banner{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 47px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #2CBCEC;
}